<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/head }}

<body>
  
  {{> partials/header }}

  <main class="slider js-slider" role="main">
    
    {{> partials/slideshow }}
    
  </main>

{{> partials/foot }}
